#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  width:100%;
  /* text-align: center; */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 1em;
}